.footer-main{
  padding: 70px 0;
  text-align: center;
  color: var(--white-color);
  background: var(--primary-color);
  .container{
    max-width: 1158px;
  }
  h3{
    margin: 0;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: var(--letter-spacing);
  }
  a{
    font-weight: 700;
    color: var(--white-color);
    &:hover{
      color: var(--accent-color);
    }
  }
  p:not(:last-child){
    margin: 0 0 18px;
  }
  .logo-block{
    display: inline-block;
    vertical-align: top;
    max-width: 220px;
  }
}
.footer-nav{
  @include dflex;
  margin: 0 -13px 40px;
  text-align: left;
  .col{
    @include flex(1);
    padding: 0 13px;
    &:first-child{
      @include flex(0 0 25%);
    }
    &:last-child{
      @include flex(0 0 34%);
    }
  }
  h3{
    font-size: 18px;
    line-height: 1.44;
    text-transform: uppercase;
  }
  a{
    font-weight: 400;
    text-decoration: none;
  }
}
.footer-social{
  @include dflex;
  justify-content: center;
  gap: 24px;
  margin: 0 0 40px;
  font-size: 48px;
  line-height: 1;
  a{
    text-decoration: none;
    &:hover{
      color: var(--accent-color);
    }
  }
}
.footer-section{
  margin: 0 0 40px;
}
.payment-list{
  @include dflex;
  justify-content: center;
  gap: 8px;
  margin: 0 0 8px;
}
.internet-banking{
  display: inline-block;
  vertical-align: top;
  padding: 3px 90px 1px 18px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background: var(--white-color) url(../images/bg-banking.png) no-repeat right 7px top 0;
  background-size: 68px 25px;
  border-radius: 4px;
}
.copyright{
  padding: 7px 0 0;
  font-size: 16px;
  line-height: 1.5;
  span::before{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
    background: url(../images/icon-copyright.svg) no-repeat 0 0;
    background-size: 100% 100%;
  }
}

@media (max-width: 1199px){
  .footer-nav .col:first-child{
    @include flex(0 0 20%);
  }
}

@media (max-width: 991px){
  .footer-nav{
    .col{
      &:first-child{
        @include flex(0 0 25%);
      }
    }
  }
}

@media (max-width: 767px){
  .footer-main{
    padding: 50px 0;
  }
  .footer-nav{
    @include flex-wrap(wrap);
    text-align: center;
    & > .col,
    & > .col:first-child,
    & > .col:last-child{
      @include flex(0 0 100%);
    }
    .col + .col{
      margin-top: 30px;
    }
  }
  .footer-social{
    gap: 10px;
  }
}