@mixin dflex{
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-column{
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-column-reverse{
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@mixin flex-row{
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-wrap($x: wrap){
  -ms-flex-wrap: $x;
  flex-wrap: $x;
}
@mixin flex($x: 1){
  -ms-flex: $x;
  flex: $x;
}

@keyframes trin{
  from {
      transform:rotate3d(0, 0, 1, 0deg);
  }
  20%, 32%, 44%, 56%, 68% {
      transform: rotate3d(0, 0, 1, 0deg);
  }
  23%, 35%, 47%, 59%, 71% {
      transform: rotate3d(0,0,1,15deg);
  }
  26%, 38%, 50%, 62%, 74% {
      transform: rotate3d(0,0,1,0deg);
  }
  29%, 41%, 53%, 65%, 77% {
      transform: rotate3d(0,0,1,-15deg);
  }
  80% {
      transform:rotate3d(0, 0, 1, 0deg);
  }
}
