@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url(fonts.css);
@keyframes trin {
  from {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  20%, 32%, 44%, 56%, 68% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  23%, 35%, 47%, 59%, 71% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  26%, 38%, 50%, 62%, 74% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  29%, 41%, 53%, 65%, 77% {
    transform: rotate3d(0, 0, 1, -15deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
:root {
  --accent-color: #f4910f;
  --dark-color: #323232;
  --grey-color: #ccc;
  --primary-color: #6A0098;
  --white-color: #fff;
  --white-secondary-color: #f9f9f9;
  --link-color: var(--accent-color);
  --input-border-color: #8d8d8d;
  --placeholder-color: #808080;
  --bg-body: #f9f9f9;
  --bg-header: #610f92;
  --box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  --letter-spacing: -0.01em;
  --label-letter-spacing: 0.08em;
  --border-radius: 16px;
  --btn-border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-width: 320px;
  font: 16px/1.5 "Poppins", sans-serif;
  color: var(--dark-color);
  background: var(--bg-body);
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.2s ease;
}

a:hover {
  text-decoration: none;
}

p:not(:last-child) {
  margin: 0 0 24px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-primary {
  color: var(--primary-color);
}

.text-sm {
  font-size: 14px;
  line-height: 1.57;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb15 {
  margin-bottom: 15px;
}

h1 {
  margin: 0 0 22px;
  font: 700 48px/1.34 "Poppins", sans-serif;
  letter-spacing: var(--letter-spacing);
}

h2 {
  margin: 0 0 16px;
  font: 700 40px/1.4 "Poppins", sans-serif;
  letter-spacing: var(--letter-spacing);
}

h3 {
  margin: 0 0 24px;
  font: 700 32px/1.25 "Poppins", sans-serif;
  letter-spacing: var(--letter-spacing);
}

h4 {
  margin: 0 0 17px;
  font: 700 28px/1.43 "Poppins", sans-serif;
  letter-spacing: var(--letter-spacing);
}

h5 {
  margin: 0 0 15px;
  font: 700 24px/1.4 "Poppins", sans-serif;
  letter-spacing: var(--letter-spacing);
}

h6 {
  margin: 0 0 15px;
  font: 700 20px/1.2 "Poppins", sans-serif;
  letter-spacing: var(--letter-spacing);
}

.subtitle {
  display: block;
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--accent-color);
}

.btn {
  display: inline-block;
  vertical-align: top;
  min-width: 218px;
  padding: 12px 14px 13px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background: linear-gradient(270deg, var(--accent-color) 50%, var(--white-color) 0);
  background-size: 200% 150%;
  background-position: 100% 100%;
  box-shadow: 0 0 0 3px var(--accent-color) inset;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn span {
  text-decoration: underline;
}
.btn i {
  display: inline-block;
  vertical-align: middle;
}
.btn:hover {
  color: var(--accent-color);
  background-position: 0 100%;
}
.btn-accent-outline, .btn-primary-outline {
  padding: 13px 25px;
  font-weight: 800;
  font-size: 21px;
  line-height: 1.45;
  letter-spacing: 0;
  text-decoration: none;
  color: var(--accent-color);
  background: linear-gradient(270deg, var(--white-color) 50%, var(--accent-color) 0);
  background-size: 200% 150%;
  background-position: 100% 100%;
  box-shadow: 0 0 0 3px var(--accent-color) inset;
}
.btn-accent-outline:hover, .btn-primary-outline:hover {
  color: var(--white-color);
}
.btn-primary-outline {
  color: var(--primary-color);
  background: linear-gradient(270deg, var(--white-color) 50%, var(--primary-color) 0);
  background-size: 200% 150%;
  background-position: 100% 100%;
  box-shadow: 0 0 0 3px var(--primary-color) inset;
}

input[type=text], input[type=submit], input[type=button],
input[type=password], input[type=file], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

button,
input,
textarea,
select {
  font: 100% "Poppins", sans-serif;
  color: var(--dark-color);
  outline: none;
}

::-moz-placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: var(--label-letter-spacing);
}

.form-control {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 15px;
  font-size: 16px;
  line-height: 1.5;
  background: var(--white-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  box-shadow: none;
  transition: all 0.2s ease;
}
.form-control:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px var(--accent-color);
}

.main-header {
  background: var(--bg-header);
}
.main-header-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 5px 34px 0;
}
.main-header-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.main-header .phone {
  display: inline-block;
  vertical-align: top;
  padding: 2px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
  background: linear-gradient(to right, var(--white-color), var(--white-color) 50%, var(--accent-color) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.main-header .phone .icon-phone {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 6px 0 0;
  background: url(../images/icon-phone.png) no-repeat 0 0;
  animation-name: trin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.main-header .phone:hover {
  background-position: 0 100%;
}
.main-header .phone:hover .icon-phone {
  background-position: 0 -25px;
}

#logo {
  display: block;
  width: 160px;
}

#nav {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
#nav ul {
  display: flex;
  gap: 25px;
}
#nav a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  background: linear-gradient(to right, var(--accent-color), var(--accent-color) 50%, var(--white-color) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
#nav a:hover {
  background-position: 0 100%;
}

.btn-menu {
  display: none;
}

@media (max-width: 1199px) {
  .main-header-holder {
    padding: 28px 0;
  }
}
@media (max-width: 767px) {
  .main-header {
    box-shadow: 0 -20px 32px -8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .main-header-holder {
    padding: 15px 0;
  }
  .main-header-nav {
    gap: 10px;
  }
  .main-header .phone {
    padding: 10px;
  }
  .main-header .phone .icon-phone {
    margin: 0;
  }
  .main-header .phone span {
    display: none;
  }
  #logo {
    width: 140px;
  }
  #nav {
    padding: 20px 15px;
    text-align: center;
    background: var(--bg-header);
    position: fixed;
    top: 74px;
    bottom: 0;
    left: -100%;
    width: 100%;
    z-index: 5;
    transition: 750ms;
    visibility: hidden;
    opacity: 0;
  }
  #nav ul {
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 114px);
    overflow-y: auto;
  }
  #nav li {
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
  }
  #nav a {
    display: block;
    padding: 10px;
  }
  .btn-menu {
    display: block;
    width: 44px;
    height: 44px;
    padding: 7px;
    cursor: pointer;
  }
  .btn-menu > span {
    display: block;
    margin: 14px 0 0;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    position: relative;
    transition: all 0.4s ease;
  }
  .btn-menu > span::before, .btn-menu > span::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
  }
  .btn-menu > span::after {
    top: 10px;
  }
  .menu-open #nav {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  .menu-open .btn-menu > span {
    transform: rotate(135deg);
  }
  .menu-open .btn-menu > span::before, .menu-open .btn-menu > span::after {
    top: 0;
    transform: rotate(90deg);
  }
}
.footer-main {
  padding: 70px 0;
  text-align: center;
  color: var(--white-color);
  background: var(--primary-color);
}
.footer-main .container {
  max-width: 1158px;
}
.footer-main h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: var(--letter-spacing);
}
.footer-main a {
  font-weight: 700;
  color: var(--white-color);
}
.footer-main a:hover {
  color: var(--accent-color);
}
.footer-main p:not(:last-child) {
  margin: 0 0 18px;
}
.footer-main .logo-block {
  display: inline-block;
  vertical-align: top;
  max-width: 220px;
}

.footer-nav {
  display: flex;
  margin: 0 -13px 40px;
  text-align: left;
}
.footer-nav .col {
  flex: 1;
  padding: 0 13px;
}
.footer-nav .col:first-child {
  flex: 0 0 25%;
}
.footer-nav .col:last-child {
  flex: 0 0 34%;
}
.footer-nav h3 {
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase;
}
.footer-nav a {
  font-weight: 400;
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 0 40px;
  font-size: 48px;
  line-height: 1;
}
.footer-social a {
  text-decoration: none;
}
.footer-social a:hover {
  color: var(--accent-color);
}

.footer-section {
  margin: 0 0 40px;
}

.payment-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0 0 8px;
}

.internet-banking {
  display: inline-block;
  vertical-align: top;
  padding: 3px 90px 1px 18px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background: var(--white-color) url(../images/bg-banking.png) no-repeat right 7px top 0;
  background-size: 68px 25px;
  border-radius: 4px;
}

.copyright {
  padding: 7px 0 0;
  font-size: 16px;
  line-height: 1.5;
}
.copyright span::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  background: url(../images/icon-copyright.svg) no-repeat 0 0;
  background-size: 100% 100%;
}

@media (max-width: 1199px) {
  .footer-nav .col:first-child {
    flex: 0 0 20%;
  }
}
@media (max-width: 991px) {
  .footer-nav .col:first-child {
    flex: 0 0 25%;
  }
}
@media (max-width: 767px) {
  .footer-main {
    padding: 50px 0;
  }
  .footer-nav {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer-nav > .col, .footer-nav > .col:first-child, .footer-nav > .col:last-child {
    flex: 0 0 100%;
  }
  .footer-nav .col + .col {
    margin-top: 30px;
  }
  .footer-social {
    gap: 10px;
  }
}
.intro {
  padding: 71px 0 78px;
  text-align: center;
  background: var(--primary-color);
}
.intro-heading {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0 50px;
  color: var(--accent-color);
}
.intro-list {
  display: flex;
  gap: 9px;
  text-align: left;
}
.intro-list-item {
  flex: 1;
  padding: 0 0 40px;
  background: var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
}
.intro-list-item:hover {
  margin: 0 0 -4px;
  padding: 0 0 44px;
}
.intro-list-item:hover .top {
  border-color: var(--accent-color);
}
.intro-list .top {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
  padding: 26px;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.intro-list .top-icon {
  flex: 0 0 80px;
  text-align: center;
}
.intro-list .top-text {
  font-size: 12px;
  line-height: 1.66;
}
.intro-list .top-title {
  margin: 0 0 1px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.07;
  display: block;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-color);
}
.intro-list .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 3px 15px 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: var(--white-secondary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.intro .slogan {
  display: block;
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.43;
  letter-spacing: var(--letter-spacing);
}
.intro .slogan-sm {
  display: block;
  margin: 0 0 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.intro h1 {
  color: var(--white-color);
}

.main-section {
  padding: 58px 0;
}

.offer-heading {
  margin: 0 0 38px;
  text-align: center;
}
.offer-list {
  display: flex;
  gap: 9px;
  margin: 0 0 30px;
}
.offer-list-item {
  flex: 1 0 calc(33.33% - 10px);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 17px 20px 16px;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.offer-list-icon {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
}
.offer-list-text {
  font-size: 12px;
  line-height: 1.67;
}
.offer-list-text h3 {
  margin: 0;
  text-transform: uppercase;
  color: var(--primary-color);
}

.content-block {
  display: flex;
  align-items: center;
  gap: 74px;
  margin: 0 0 40px;
  padding: 45px 64px 45px 70px;
}
.content-block:last-child {
  margin: 0;
}
.content-block-img {
  flex: 0 0 522px;
  text-align: center;
}
.content-block-btn {
  padding: 18px 0 0;
}

.experience-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 40px;
  padding: 30px;
  color: var(--white-color);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.experience-list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.experience-list-item.users {
  gap: 28px;
}
.experience-list-item .number {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: var(--accent-color);
}
.experience-list-devider {
  display: inline-block;
  vertical-align: top;
  width: 2px;
  height: 66px;
  margin: 0 20px;
  background: var(--white-secondary-color);
}

.partner-section {
  padding: 73px 0 110px;
  box-shadow: 0 -20px 32px -8px rgba(0, 0, 0, 0.1), 0 -20px 32px -8px rgba(0, 0, 0, 0.1) inset;
  background: var(--white-color);
}
.partner-section .content-block {
  gap: 114px;
  padding: 45px 70px 45px 30px;
}

.question-section {
  padding: 39px 0;
}
.question-section h2 {
  margin: 0 0 34px;
  text-align: center;
}
.question-list {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
}
.question-list-holder {
  display: flex;
  gap: 24px;
  padding: 0 16px;
}
.question-list li {
  padding: 16px 0 15px;
  border-bottom: 1px solid var(--grey-color);
}
.question-list-title {
  display: block;
  padding: 0 0 0 40px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.question-list-title:hover {
  color: var(--accent-color);
}
.question-list-title::before, .question-list-title::after {
  content: "";
  width: 2px;
  height: 16px;
  background: var(--primary-color);
  position: absolute;
  left: 10px;
  top: 4px;
  transform: rotate(0);
  transition: all 0.4s ease-in-out;
}
.question-list-title::after {
  width: 16px;
  height: 2px;
  left: 3px;
  top: 11px;
}
.question-list-title.open::before, .question-list-title.open::after {
  transform: rotate(180deg);
  transition: all 0.4s ease-in-out;
}
.question-list-title.open::before {
  opacity: 0;
}
.question-list-text {
  display: none;
  padding: 8px 0 0 40px;
}

.testimonial-section {
  padding: 37px 0;
}
.testimonial-section h2 {
  margin: 0 0 50px;
  text-align: center;
}
.testimonial-list {
  padding: 17px 40px;
  background: var(--white-color);
  border-radius: var(--border-radius);
}
.testimonial-list-item {
  display: flex;
  gap: 20px;
  padding: 15px 0 14px;
}
.testimonial-list-avatar {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-list-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-list-holder .name {
  display: block;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-color);
}
.testimonial-list-holder .date {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
}
.testimonial-list-holder .rating {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1;
  margin: 0 15px 0 0;
}
.testimonial-list-holder .rating i + i {
  margin: 0 0 0 5px;
}
.testimonial-list-holder .rating .icon-star-full,
.testimonial-list-holder .rating .icon-star-half {
  color: var(--accent-color);
}
.testimonial-list-holder .rating .icon-star-empty {
  color: var(--grey-color);
}

.order-section {
  padding: 37px 0;
}
.order-block {
  max-width: 1128px;
  margin: 0 auto;
  padding: 34px 30px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  background: var(--white-color);
  border: 4px solid var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.order-block h2 {
  margin: 0 0 32px;
}
.order-block p:not(:last-child) {
  margin: 0 0 30px;
}
.order-block .work-time {
  font-weight: 600;
  line-height: 1.33;
}
.order-form {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  max-width: 910px;
  margin: 0 auto -37px;
  padding: 0 0 62px 230px;
  text-align: left;
  position: relative;
}
.order-form::before {
  content: "";
  width: 104px;
  height: 140px;
  background: url(../images/img-call-form.svg) no-repeat 0 100%;
  position: absolute;
  bottom: 0;
  left: 88px;
}
.order-form .form-group {
  flex: 1;
  font-size: 0;
}
.order-form .form-control {
  display: block;
}
.order-form .btn {
  flex: 0 0 298px;
}

.tips-section {
  padding: 71px 0 66px;
}
.tips-section h2 {
  margin: 0 0 52px;
  text-align: center;
}
.tips-section .btn {
  min-width: 573px;
}
.tips-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto 42px;
}
.tips-list-item {
  flex: 0 0 calc(50% - 12px);
  display: flex;
  margin: 0 0 8px;
  text-decoration: none;
  color: var(--dark-color);
}
.tips-list-item:hover h4 {
  color: var(--primary-color);
}
.tips-list-item:hover .tips-list-img img {
  filter: grayscale(0);
}
.tips-list-img {
  flex: 0 0 202px;
  min-height: 224px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  overflow: hidden;
}
.tips-list-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
  filter: grayscale(1);
}
.tips-list-holder {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px 20px 20px;
  background: var(--white-color);
  border: 1px solid var(--grey-color);
  border-width: 1px 1px 1px 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.tips-list-holder h4 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

/* media queries */
@media (max-width: 1199px) {
  h1 {
    font-size: 44px;
    line-height: 1.2;
  }
  h2 {
    font-size: 36px;
    line-height: 1.2;
  }
  h3 {
    font-size: 28px;
    line-height: 1.2;
  }
  h4 {
    font-size: 24px;
    line-height: 1.2;
  }
  h5 {
    font-size: 22px;
    line-height: 1.2;
  }
  h6 {
    font-size: 18px;
  }
  .main-section {
    padding: 50px 0;
  }
  .intro-list .top {
    padding: 20px 15px;
  }
  .intro-list .top-icon {
    flex: 0 0 70px;
  }
  .intro-list .top-title {
    font-size: 24px;
  }
  .offer-list-item {
    gap: 15px;
    padding: 15px;
  }
  .offer-list-icon {
    width: 50px;
    height: 50px;
  }
  .offer-list-text h3 {
    font-size: 24px;
  }
  .content-block {
    padding: 37px 50px;
  }
  .content-block-img {
    flex: 0 0 400px;
  }
  .experience-list {
    padding: 30px 15px;
  }
  .experience-list-item {
    font-size: 16px;
  }
  .experience-list-item.users {
    gap: 15px;
  }
  .experience-list-item .number {
    font-size: 30px;
  }
  .experience-list-devider {
    height: 50px;
    margin: 0 10px;
  }
  .partner-section {
    padding: 37px 0;
  }
  .partner-section .content-block {
    gap: 90px;
    padding: 37px 50px;
  }
  .tips-section {
    padding: 37px 0;
  }
}
@media (max-width: 991px) {
  .intro-list .top {
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    text-align: center;
  }
  .offer-list-item {
    flex-direction: column;
  }
  .offer-list-text h3 {
    text-align: center;
  }
  .content-block {
    padding: 37px 20px;
    gap: 50px;
  }
  .content-block-img {
    flex: 0 0 320px;
  }
  .partner-section .content-block {
    gap: 74px;
    padding: 37px 20px;
  }
  .testimonial-list {
    padding: 17px 30px;
  }
  .order-form {
    gap: 24px;
    padding: 0 0 60px 130px;
  }
  .order-form::before {
    left: 0;
  }
  .order-form .btn {
    flex: 0 0 230px;
  }
  .tips-list {
    gap: 32px;
  }
  .tips-list-item {
    flex: 0 0 100%;
    padding: 0;
  }
  .tips-list-holder {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  h2 {
    font-size: 32px;
    line-height: 1.2;
  }
  h3 {
    font-size: 24px;
    line-height: 1.2;
  }
  h4 {
    font-size: 22px;
    line-height: 1.2;
  }
  h5 {
    font-size: 20px;
    line-height: 1.2;
  }
  .btn-accent-outline,
  .btn-primary-outline {
    font-size: 16px;
  }
  .intro {
    padding: 120px 0 70px;
  }
  .intro-heading {
    padding: 0 0 30px;
  }
  .intro-list {
    flex-direction: column;
    gap: 15px;
  }
  .intro-list .top {
    flex-direction: row;
    gap: 15px;
    text-align: left;
  }
  .intro .slogan {
    font-size: 24px;
    line-height: 1.2;
  }
  .intro .slogan-sm {
    font-size: 16px;
  }
  .main-section {
    padding: 37px 0;
  }
  .offer-heading {
    padding: 37px 0 0;
    margin: 0 0 30px;
  }
  .offer-list {
    flex-direction: column;
  }
  .offer-list-item {
    flex-direction: row;
  }
  .offer-list-text h3 {
    font-size: 24px;
    text-align: left;
  }
  .content-block {
    flex-direction: column;
    gap: 30px;
    padding: 37px 0;
  }
  .content-block-img {
    flex: 0 0 250px;
  }
  .experience-list {
    padding: 20px 15px;
  }
  .experience-list-item {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 14px;
  }
  .experience-list-item.users {
    gap: 10px;
  }
  .experience-list-item .number {
    font-size: 24px;
  }
  .partner-section .content-block {
    gap: 40px;
    padding: 37px 0;
  }
  .question-list-holder {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .testimonial-section h2 {
    margin: 0 0 30px;
  }
  .testimonial-list {
    padding: 15px;
  }
  .order-block {
    padding: 30px 15px;
    font-size: 16px;
  }
  .order-form {
    display: block;
    margin: 0 auto -33px;
    padding: 0 0 30px 70px;
  }
  .order-form::before {
    width: 80px;
    height: 100px;
    background-size: 100% 100%;
    left: -10px;
  }
  .order-form .form-group {
    margin: 0 0 15px;
  }
  .order-form .btn {
    width: 100%;
    min-width: auto;
    padding: 9px 10px 10px;
  }
  .tips-section h2 {
    margin: 0 0 30px;
  }
  .tips-section .btn {
    min-width: auto;
  }
  .tips-list {
    margin: 0 auto 30px;
  }
  .tips-list-item {
    flex-direction: column;
  }
  .tips-list-img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  .tips-list-holder {
    padding: 20px 15px;
    border-width: 0 1px 1px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
@media (max-width: 575px) {
  .experience-list {
    flex-direction: column;
  }
  .experience-list-item {
    flex-direction: row;
    gap: 20px;
  }
  .experience-list-item.users {
    gap: 20px;
  }
  .experience-list-item br {
    display: none;
  }
  .experience-list-devider {
    width: 66px;
    height: 2px;
    margin: 20px 0;
  }
}/*# sourceMappingURL=style.css.map */